@using OrderingSystemProject.Models.Kitchen
@model OrderingSystemProject.Models.Kitchen.KitchenViewModel

@{
	ViewData["Title"] = "Kitchen";
}

<h1>Orders List</h1>

@{
	Exception? ex = (Exception?)ViewData["Exception"];

	if(ex != null) // If an exception was passed display it
	{
		<div class="alert-danger">
			<a>An unexpected exception has occurred, please try again later</a>
			<a>@ex.Message</a> <!-- Show error message, for debug-->
		</div>
	}
}

<div>
	<a class="btn btn-primary" asp-action="Index" asp-controller="Kitchen">Refresh</a>
	<a class="btn btn-primary" asp-action="Done" asp-controller="Kitchen">Done Orders</a>
</div>
<div>Last Update: @Model.LastUpdate.ToString("HH:mm:ss")</div>

<div class="KitchenOrdersList">
	@{
		if (Model.Orders != null)
		{
			foreach (var order in Model.Orders) // Go throu list of orders
			{
				<partial name="~/Views/Kitchen/_Order.cshtml" model="@order" />
			}
		}
	}
</div>

<div class="KitchenOrderListsBreak"></div>

<div class="KitchenOrdersList">
	@{
		if (Model.ReadyOrders != null)
		{
			foreach (var order in Model.ReadyOrders) // Go throu list of orders
			{
				<partial name="~/Views/Kitchen/_Order.cshtml" model="@order" />
			}
		}
	}
</div>

<script>
	setTimeout(function () {
		window.location.reload(1);
	}, 5000);
</script>