@model SplitEquallyViewModel

<h2>How many people will split the bill?</h2>

<form asp-action="UpdateNumberOfPeople" method="post">
    @Html.HiddenFor(m => m.Bill.BillId)
    <div class="form-group">
        <label>Number of People:</label>
        @Html.TextBoxFor(m => m.NumberOfPeople, new { @class = "form-control", type = "number", min = "1" })
    </div>
    <button type="submit" class="btn btn-primary mt-2">Next</button>
</form>